<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="SNPLDBSTRING" connectionString="Data Source=snpls;Initial Catalog=NEWTESTING;User ID=sa;Password=snpl123@;MultipleActiveResultSets=true;"
      providerName="System.Data.SqlClient" />
    <add name="NEWTESTINGConnectionString" connectionString="Data Source=SNPLS;Initial Catalog=NEWTESTING;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <!--<httpRuntime maxRequestLength="1073741824" />-->
    <compilation debug="true" targetFramework="4.0" />
    
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="helpdesk.snpl@gmail.com" deliveryMethod="Network">

        <network host="smtp.gmail.com" defaultCredentials="true" port="587" />
      </smtp>

    </mailSettings>
  </system.net>

<system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <httpRuntime maxRequestLength="1048576" />
  </system.web>

</configuration>